.profile__input {
  border: 0;
  background: transparent;

  color: #FFF;
  text-align: right;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  justify-self: end;
}

.profile__input:focus {
  outline: 0;
  border-right: 1px solid rgba(255, 255, 255, .2);
}

.profile__input::placeholder {
  color: #8B8B8B;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: right;
}

.profile__input::-webkit-input-placeholder {
  color: #8B8B8B;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: right;
}



.profile__input::-moz-placeholder {
  color: #8B8B8B;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: right;
}


.profile__input::-ms-input-placeholder {
  color: #8B8B8B;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: right;
}