.about-me__link {
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
  padding: 0;
  justify-self: end;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .about-me__link {
    margin-top: 40px;
  }
}