.linked-text__link {
  margin: 0;
  padding: 0;
  color: #FFF;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px;
  /* 200% */
  letter-spacing: -1.2px;
  justify-self: right;
  text-decoration: none;
}

@media screen and (max-width: 1023px) {
  .linked-text__link {
    font-size: 28px;
  }

  @media screen and (max-width: 767px) {
    .linked-text__link {
      font-size: 18px;
      line-height: 28px;
      /* 155.556% */
      letter-spacing: -0.72px;
    }
  }
}