.section-header {
  color: #FFF;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
  margin: 0;
  padding-bottom: 23px;
  border-bottom: 1px solid #DADADA;
  box-sizing: border-box;
}