.about-me__description {
  padding: 0;
  margin: 26px 0 0;

  color: #FFF;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  /* 157.143% */

  flex: 1;
}

@media screen and (max-width: 1023px) {
  .about-me__description {
    font-size: 12px;
    line-height: 18px;
    /* 150% */
    margin-top: 20px;
  }
}

@media screen and (max-width: 767px) {
  .about-me__description {
    font-size: 11px;
    line-height: 16px;
  }
}