.profile__error {
  color: #EE3465;
  text-align: left;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  justify-self: start;
  grid-column: 1/3;
  display: block;
  min-height: 15px;
}