@import url(transparent-button-base.css);
@import url(./_type/transparent-button_type_registration.css);
@import url(./_type/transparent-button_type_all-films.css);
@import url(./_type/transparent-button_type_standard.css);
@import url(./_type/transparent-button_type_blue-text.css);
@import url(./_type/transparent-button_type_red-text.css);
@import url(./_type/transparent-button_type_menu.css);
@import url(./_type/transparent-button_type_menu-active.css);

.transparent-button {

  background: transparent;
  display: block;
  /* height: 32px; */
  text-align: center;
  font-style: normal;
}

/* @media screen and (max-width: 767px) {
  .transparent-button {
    height: 26px;
  }
} */