.nav__link {
  text-decoration: none;
  color: #FFF;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  /* 133.333% */

  width: 96px;
  border-radius: 10px;
  background: #303030;
  text-align: center;
  margin: auto;
  padding: 10px 0;
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .nav__link {
    font-size: 10px;
    width: 82px;
    padding: 5px 0;
  }
}