@import url(./_underlined/linked-text_underlined.css);
@import url(./__text/linked-text__text.css);
@import url(./__link/linked-text__link.css);

.linked-text {
  display: grid;
  grid-template-columns: auto 70px;
  column-gap: 10px;
  min-height: 75px;
  align-content: center;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1023px) {
  .linked-text {
    grid-template-columns: auto 30px;
  }
}

@media screen and (max-width: 767px) {
  .linked-text {
    grid-template-columns: auto 20px;
    min-height: 30px;
    padding-bottom: 17px;
  }
}