.check-thumb {
  display: inline-block;
  height: 14px;
  position: relative;
  user-select: none;

}

.check-thumb .check-thumb__switch {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 34px;
  height: 14px;
  border-radius: 7px;
  background: #343434;
  transition: .2s;
  cursor: pointer;
}

.check-thumb .check-thumb__switch:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #A0A0A0;
  transition: .15s;
}

.check-thumb input[type=checkbox] {
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.check-thumb input[type=checkbox]:checked+.check-thumb__switch {
  background: #2BE080;
}

.check-thumb input[type=checkbox]:checked+.check-thumb__switch:before {
  background: #fff;
  transform: translateX(20px);
}