@import url(./__subheader/techs__subheader.css);
@import url(./__description/techs__description.css);
@import url(./__items/techs__items.css);
@import url(./__item/techs__item.css);

.techs {
  padding: 100px 70px;
  background: #272727;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

@media screen and (max-width: 1023px) {
  .techs {
    padding: 90px 50px;
  }
}

@media screen and (max-width: 767px) {
  .techs {
    padding: 70px 18px;
    background: #202020;
  }
}