.about-me__personality-placeholder {
  margin: 66px 0 0;
  display: flex;
  justify-content: space-between;
  padding: 0;
  flex-wrap: wrap-reverse;
}

@media screen and (max-width: 767px) {
  .about-me__personality-placeholder {
    margin-top: 60px;
    gap: 40px;
  }
}