.footer__link {
  display: block;
  margin: 0;
  padding: 0;

  color: #FFF;
  text-align: right;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .footer__link {
    font-size: 12px;
  }
}