.footer__line {
  display: flex;
  justify-content: space-between;

  border-top: 1px solid #424242;
  margin: 20px 0 0;
  padding: 20px 0 0;
  column-gap: 20px;

}

@media screen and (max-width: 767px) {
  .footer__line {
    padding: 30px 10px 0;
    flex-direction: column-reverse;
    gap: 30px;
    align-items: center;
    margin-top: 21px;

  }
}