@import url(./_size/rounded-button_size_big.css);
@import url(./_size/rounded-button_size_small.css);

.rounded-button {
  background: #313131;
  color: #FFF;
  border: 0;
  margin: 0;
  padding: 0;

  text-align: center;
}