.about-me__personality-text-placeholder {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  max-width: 600px;
}

@media screen and (max-width: 1023px) {
  .about-me__personality-text-placeholder {
    width: 364px;
  }
}

@media screen and (max-width: 767px) {
  .about-me__personality-text-placeholder {
    width: auto;
  }
}