.square-button_type_small-green {
  width: 76px;
  height: 32px;
  border-radius: 3px;
  background: #3DDC84;
  text-align: center;

  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  border: 0;
  /* 133.333% */
}

@media screen and (max-width: 767px) {
  .square-button_type_small-green {
    font-size: 10px;
    height: 26px;
    width: 54px;
  }
}