.square-button_type_wide-blue {
  width: 396px;
  height: 45px;
  border-radius: 3px;
  background: #4285F4;
  ;
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: 0;
}

@media screen and (max-width: 767px) {
  .square-button_type_wide-blue {
    font-size: 12px;
    width: 262px;
  }
}