.about-me__personality-image {
  width: 270px;
  height: 327px;
  object-fit: contain;
  object-position: center;
  display: block;
}

@media screen and (max-width: 1023px) {
  .about-me__personality-image {
    width: 255px;
    height: 307px;
  }
}