.about-project__time-line-item {
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin: 0;
  padding: 9px 0;
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .about-project__time-line-item {
    font-size: 11px;
    padding: 11px 0;
  }
}