.about-project__time-line {
  display: grid;

  grid-template-columns: 1fr 4fr;
  grid-template-rows: 36px 45px;
  grid-template-areas:
    "step1 step2"
    "desc1 desc2";

  margin: 110px 0 0;
  padding: 0;
  align-items: center;
}

@media screen and (max-width: 1023px) {
  .about-project__time-line {
    margin-top: 93px;
  }
}

@media screen and (max-width: 767px) {
  .about-project__time-line {
    margin-top: 60px;
    grid-template-columns: 35.2% auto;
    grid-template-rows: 35px 31px;
  }
}