.search__form-input {
  border-radius: 8px;
  background: #2F2F2F;
  width: 100%;
  border: 0;

  color: #FFF;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  /* 128.571% */

  padding: 16px 20px;
  box-sizing: border-box;
}

.search__form-input:focus {
  outline: 0;
  border-left: 1px solid rgba(255, 255, 255, .2);
  border-right: 1px solid rgba(255, 255, 255, .2);
}

.search__form-input::placeholder {
  color: #8B8B8B;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}


.search__form-input::-webkit-input-placeholder {
  color: #8B8B8B;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}



.search__form-input::-moz-placeholder {
  color: #8B8B8B;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}


.search__form-input::-ms-input-placeholder {
  color: #8B8B8B;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}